/* Mobile Styles */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Changed font to Helvetica Neue */
  margin: 0;
  padding: 0;
}

header {
  background-color: #2c3e50; /* Dark blue background */
  color: #fff;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
  font-size: 24px; /* Increased font size */
}

nav {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Add flex display */
}

nav ul li {
  margin-left: 20px; /* Increased margin between links */
}

nav ul li:first-child {
  margin-left: 0; /* Remove margin for the first link */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px; /* Increased font size */
}

nav ul li a:hover {
  background-color: #34495e; /* Darker hover color */
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
}

.menu-bar {
  background-color: #fff;
  height: 3px;
  width: 100%;
}

main {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

h2 {
  text-align: center; /* Center the heading */
  font-size: 20px; /* Increased font size */
  margin-bottom: 20px; /* Added spacing below the heading */
}

figure {
  text-align: center;
}

figure figcaption {
  margin-top: 10px;
  font-style: italic;
  font-size: 14px; /* Adjusted font size */
  text-align: center; /* Center the text */
}


footer {
  background-color: #34495e; /* Darker background color */
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Larger View Styles */
@media only screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  header {
    padding: 20px;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    margin-right: 20px;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a {
    padding: 10px 20px;
    font-size: 16px; /* Increased font size */
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
