/* Larger View Styles */
header {
    padding: 20px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    padding: 10px 20px;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  figure {
    display: inline-block;
    width: 30%;
    margin: 20px;
  }
  
  figcaption {
    margin-top: 10px;
    font-style: italic;
  }
  